.banner-section {
    height: 100vh;
    text-align: center;
    background-image: url('../../../../images/home09_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-content {
    padding-top: 100px;
}
.banner-headline {
    margin-bottom: 50px;
}
.banner-content h2 {
    text-transform: capitalize;
    font-size: 60px;
    padding: 20px 0;
}