.custom-btn {
    text-decoration: none;
    /* background-color: #6254e7; */
    color: white;
    line-height: 1.5;
    letter-spacing: .2px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 25px;
}